---
import Post from "../components/post_card.astro";
import Tag from "../components/tag.astro";
import Post_layout from "../layouts/post_layout.astro";
import {getCollection} from "astro:content";
const posts = await getCollection("posts")
console.log(posts)
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/src/styles/global.css" />
		<title>IMS-Stack</title>
	</head>
	<body class="bg-black">
		<h1 class="text-white p-4 text-center text-6xl">IMS-Stack</h1>
		<Post post_prop='how-to-build-a-blog' />
	</body>
</html>
