---
import "../assets/app.css"
import Landing_nav from "../components/landing_nav.astro";
import Landing_hero from "../components/landing_hero.astro";

import {getCollection} from "astro:content"

let result = await getCollection("posts");
console.log(result);
---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class='font-blogfont'>
	<Landing_nav />
	<Landing_hero />
	</body>
</html>
