---
import {getCollection, getEntry, render} from "astro:content";
import Post_layout from "../../layouts/post_layout.astro";

export async function getStaticPaths() {
    const posts = await getCollection("posts");

    const paths = posts.map(post => ({
        params: {slug: post.id},
    }));


    return paths;
}
const {slug} = Astro.params;
const post = await getEntry("posts", slug)

if (!post) {
    throw new Error('Could not find blog post 1');
}

const {Content} = await render(post)
console.log(Content)
---
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/src/styles/global.css" />
    <title>IMS-Stack</title>
</head>
<div class='bg-base-300'>
<Post_layout class='' post={post}>
    <Content  />
</Post_layout>
</div></html>