---
import {getEntry} from "astro:content";
interface authorData {
    id: string;
}

const { id} = Astro.props as authorData;
console.log(id)
let author  = await getEntry("authors",id);
console.log(author)
---
<div class="hero bg-base-200 h-96">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <img
      src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.webp"
      class="max-w-sm rounded-lg shadow-2xl"
      alt='author image'
    />
    <div>
      <h1 class="text-5xl font-bold">{author.data.name}</h1>
      <p class="py-6">
        {author.data.description}
      </p>
      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>