---
interface authorProps {
    id: string
}

const { id } = Astro.props as authorProps;
import { getEntry, getCollection } from "astro:content";
console.log(id)
console.log(id)
const authordata = await getEntry("authors", id);

console.log(authordata)
console.log(authordata.data.profile_image)
---
<div class='flex items-center hover:underline'>
  <img src={authordata.data.profile_image} alt='Author Image' class='rounded-full w-5 h-5 mr-1' />
  <div class='text-sm mr-3 text-secondary flex-nowrap '><a href=`/author/${authordata.id}`>{authordata.data.name + ","}</a></div>
</div>