---

---
<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <img

      src="/Logo.svg"
      class="max-w-sm rounded-lg accent-fuchsia-500"
    />
    <div>
      <h1 class="text-5xl font-bold">The IMS Stack</h1>
      <p class="py-6 pr-20 text-justify">
        Der IMS Stack ist ein Blog, der programmiert und verwaltet wird von IMS Schülerinnen und Schülern. Hier möchten wir Wissen austauschen, Erfahrung weitergegeben und eine Community aufbauen.
      </p>
      <button class="btn btn-primary"><a href='/blog'>Schau es dir doch mal an</a></button>
    </div>
  </div>
</div>